extends layout

block content
  .page-header
    h3 Fast parking

    each item in content
      form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          .col-sm-8
            input(type="hidden",name="bookDate",value=item.internalDate)
          .col-sm-offset-2.col-sm-8
            if item.status == 1
              button.btn.btn-success(type="submit", data-toggle="tooltip", data-placement="right", title=item.usersExploded) #{item.userDate}
            else if item.status == 0
              button.btn.btn-primary(type="submit", data-toggle="tooltip", data-placement="right", title=item.usersExploded) #{item.userDate}
            else
              button.btn.btn-danger(type="submit", data-toggle="tooltip", data-placement="right", title=item.usersExploded disabled) #{item.userDate}