extends layout

block content
  .page-header
    h3 Parking Booking Form

    each item in content
      form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          .col-sm-8
            input(type="hidden",name="bookDate",value=item.date)
          .col-sm-offset-2.col-sm-8
            if item.alreadyBooked
              button.btn.btn-success(type="submit") #{item.date}
            else if item.available && !item.alreadyBooked
              button.btn.btn-primary(type="submit") #{item.date}
            else
              button.btn.btn-danger(type="submit" disabled) #{item.date}